<div class='nested-fields chunk-fields'>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div class="field">
    <%= f.text_field :description, placeholder: "Introduction" %>
  </div>
    <%= link_to_remove_association f do %>
      <div class="modal-close">
        <i class="fa fa-times"></i>
      </div>
    <% end %>
  <div class='blocks'>
    <%= f.fields_for :blocks do |block| %>
      <%= render 'block_fields', :f => block %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add block', f, :blocks %>
    </div>

  </div>
</div>
