<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div>
      <h1>Create a Study Guide</h1>
      <p>Break down the topic into fundamental concepts and skills.</p>
      <p>Remember to chunk them up!</p>
    </div>
    <div>
      <%= form_for @guide do |f| %>
        <div class="field">
          <%= f.text_field :title, placeholder: "Topic"%>
        </div>
        <div class="field">
          <%= f.text_area(:description, rows: 4, placeholder: "Intoduce the topic here") %>
        </div>
        <h3>Chunks</h3>
        <div id='chunks'>
          <%= f.fields_for :chunks do |chunk| %>
            <%= render 'chunk_fields', :f => chunk %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association 'add chunk', f, :chunks %>
          </div>
        </div>
        <%= f.submit 'Save' %>
      <% end %>
    </div>

  </body>
</html>
